﻿@inject ILocalStorageService _localStorage

<MatChipSet Filter="true" SelectedChips="SelectedChips" SelectedChipsChanged="OnSelectedChipsChangedAsync">
@*    <MatChip Label="На предыдущей неделе" IsCheckable="true" @ref="_lastWeekChip" />*@
    <MatChip Label="Вчера" IsCheckable="true" @ref="_yesterdayChip" />
    <MatChip Label="Сегодня" IsCheckable="true" @ref="_todayChip" />
    <MatChip Label="Завтра" IsCheckable="true" @ref="_tomorrowChip" />
    @*<MatChip Label="На этой неделе" IsCheckable="true" @ref="_thisWeekChip" />
    <MatChip Label="На следующей неделе" IsCheckable="true" @ref="_nextWeekChip" />*@
    <MatChip Label="Завершенные" IsCheckable="true" @ref="_includeDoneChip" />
    <MatChip Label="Повторяющиеся" IsCheckable="true" @ref="_includeRecurringChip" />
</MatChipSet>

@code
{
    private MatChip _lastWeekChip;
    private MatChip _yesterdayChip;
    private MatChip _todayChip;
    private MatChip _tomorrowChip;
    private MatChip _thisWeekChip;
    private MatChip _nextWeekChip;
    private MatChip _includeDoneChip;
    private MatChip _includeRecurringChip;

    public MatChip[] SelectedChips { get; set; }

    [Parameter]
    public ActivitiesFilter Filter { get; set; }

    [Parameter]
    public EventCallback<ActivitiesFilter> FilterChanged { get; set; }

    private async Task OnSelectedChipsChangedAsync(MatChip[] selectedChips)
    {
        SelectedChips = selectedChips;
        var filter = new ActivitiesFilter();
        if (selectedChips.Contains(_includeDoneChip))
        {
            filter.IncludeDone = true;
        }
        if (selectedChips.Contains(_includeRecurringChip))
        {
            filter.IncludeRecurring = true;
        }
        //if (selectedChips.Contains(_lastWeekChip))
        //{
        //    filter.Period.Add(CalendarPeriod.LastWeek);
        //}
        if (selectedChips.Contains(_yesterdayChip))
        {
            filter.Period.Add(CalendarPeriod.Yesterday);
        }
        if (selectedChips.Contains(_todayChip))
        {
            filter.Period.Add(CalendarPeriod.Today);
        }
        if (selectedChips.Contains(_tomorrowChip))
        {
            filter.Period.Add(CalendarPeriod.Tomorrow);
        }
        //if (selectedChips.Contains(_thisWeekChip))
        //{
        //    filter.Period.Add(CalendarPeriod.ThisWeek);
        //}
        //if (selectedChips.Contains(_nextWeekChip))
        //{
        //    filter.Period.Add(CalendarPeriod.NextWeek);
        //}
        await FilterChanged.InvokeAsync(filter);
    }

    protected override void OnAfterRender(bool firstRender)
    {
        var selectedChips = new List<MatChip>();
        if (Filter.IncludeDone)
        {
            selectedChips.Add(_includeDoneChip);
        }
        if (Filter.IncludeRecurring)
        {
            selectedChips.Add(_includeRecurringChip);
        }
        //if (Filter.Period.Contains(CalendarPeriod.LastWeek))
        //{
        //    selectedChips.Add(_lastWeekChip);
        //}
        if (Filter.Period.Contains(CalendarPeriod.Yesterday))
        {
            selectedChips.Add(_yesterdayChip);
        }
        if (Filter.Period.Contains(CalendarPeriod.Today))
        {
            selectedChips.Add(_todayChip);
        }
        if (Filter.Period.Contains(CalendarPeriod.Tomorrow))
        {
            selectedChips.Add(_tomorrowChip);
        }
        //if (Filter.Period.Contains(CalendarPeriod.ThisWeek))
        //{
        //    selectedChips.Add(_thisWeekChip);
        //}
        //if (Filter.Period.Contains(CalendarPeriod.NextWeek))
        //{
        //    selectedChips.Add(_nextWeekChip);
        //}
        SelectedChips = selectedChips.ToArray();
        StateHasChanged();
    }
}