﻿<MatCheckbox TValue="bool" @bind-Value="IsDone" />
<MatChip Style="@($"background-color: {Color}")" Label="@Intention" />
<span>@Name</span>

@code
{
    [Parameter]
    public GCalActivity Activity { get; set; }

    public string Intention { get; set; }
    public string Name { get; set; }
    public string Color { get; set; }

    private bool _isDone;
    public bool IsDone
    {
        get => _isDone;
        set
        {
            SetIsDoneAsync(value);
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _isDone = Activity.IsDone;
        Intention = Activity.Intention;
        Color = Activity.BackgroundColor;
        Name = Activity.Name;
    }

    private async Task SetIsDoneAsync(bool isDone)
    {
        var previousIsDone = _isDone;
        try
        {
            _isDone = isDone;
            await Activity.SetIsDoneAsync(_isDone);
            Color = Activity.BackgroundColor;
        }
        catch (Exception e)
        {
            Trace.TraceError(e.ToString());
            _isDone = previousIsDone;
            StateHasChanged();
        }
    }
}
