﻿@page "/"

@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorage
@using System.Linq
@inject HttpClient Http

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="e=>IsFilterMenuOpened=!IsFilterMenuOpened"></MatIconButton>
                <MatAppBarTitle>Calendist - hybrid of calendar and todo-list</MatAppBarTitle>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3 @(IsFilterMenuOpened ? "visible" : "invisible")">
                    <div class="m-4">
                        <div>
                            <MatCheckbox TValue="bool" Label="Include done" />
                        </div>
                        <div>
                            <MatCheckbox TValue="bool" Label="Include recurring" />
                        </div>
                    </div>
                    <div class="m-4">
                        <h5 class="h5">Source</h5>
                        <MatSelect TValue="string" Label="Select a source" Class="w-100">
                            <MatOptionString Value="grains">Work</MatOptionString>
                            <MatOptionString Value="vegetables">Routine</MatOptionString>
                            <MatOptionString Value="fruit">English</MatOptionString>
                        </MatSelect>
                        <div>
                            <MatCheckbox TValue="bool" Label="Hide source names" />
                        </div>
                    </div>
                    <div class="m-4">
                        <h5 class="h5">Period</h5>
                        <MatSelect TValue="string" Label="Select a period scale" Class="w-100">
                            <MatOptionString Value="grains">Day</MatOptionString>
                            <MatOptionString Value="vegetables">Week</MatOptionString>
                            <MatOptionString Value="fruit">Month</MatOptionString>
                        </MatSelect>
                        <div>
                            <MatCheckbox TValue="bool" Label="Yesterday" />
                        </div>
                        <div>
                            <MatCheckbox TValue="bool" Label="Today" />
                        </div>
                        <div>
                            <MatCheckbox TValue="bool" Label="Tomorrow" />
                        </div>
                    </div>
                    <div class="m-4">
                        <h5 class="h5">Size</h5>
                        <div>
                            <MatCheckbox TValue="bool" Label="<0.5 hours" />
                        </div>
                        <div>
                            <MatCheckbox TValue="bool" Label="0.5 - 1 hours" />
                        </div>
                        <div>
                            <MatCheckbox TValue="bool" Label="1 - 2 hours" />
                        </div>
                        <div>
                            <MatCheckbox TValue="bool" Label="2 - 4 hours" />
                        </div>
                        <div>
                            <MatCheckbox TValue="bool" Label=">4 hours" />
                        </div>
                    </div>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                    @if (IsReady && !IsLoading && !IsFiltering)
                    {
                        <div class="mat-layout-grid m-4">
                            <div class="mat-layout-grid-inner">
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                                    <MatTextField TValue="string" Label="Type your task here" FullWidth="true" />
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                    <MatButton Raised="true" Class="mt-2" Label="Add" />
                                </div>
                                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                                    @foreach (var activityGroup in Activities.GroupBy(a => CalendarPeriod.FindMostExactPeriodByDateOrDefault(a.StartDate)))
                                    {
                                        <h5 class="h5">
                                            @activityGroup.Key.Name
                                        </h5>
                                        <MatList>
                                            @foreach (var activity in activityGroup)
                                            {
                                                <MatListItem>
                                                    <ActivityComponent Activity="activity" />
                                                </MatListItem>
                                            }
                                        </MatList>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <MatProgressCircle Indeterminate="true" Size="MatProgressCircleSize.Large" />
                    }
                </div>
            </div>
        </div>
    </MatAppBarContent>
</MatAppBarContainer>

@code
{
    public bool IsDayFilterExpanded { get; set; }
    public bool IsWeekFilterExpanded { get; set; }
    public bool IsMonthFilterExpanded { get; set; }

    public bool IsFilterMenuOpened { get; set; } = true;

    public string SearchTerm { get; set; }

    public GCalActivity[] Activities { get; set; }

    private ActivitiesFilter _filter;
    public ActivitiesFilter Filter
    {
        get => _filter;
        set
        {
            SetFilterAsync(value);
        }
    }

    private async Task SetFilterAsync(ActivitiesFilter filter)
    {
        var previousFilter = _filter;
        try
        {
            _filter = filter;
            await SaveFilterToLocalStorageAsync(_filter);
            await ApplyFilterAsync(_filter);
        }
        catch (Exception e)
        {
            Trace.TraceError(e.ToString());
            _filter = previousFilter;
            StateHasChanged();
        }
    }

    public GCalActivitySpace Space { get; set; }

    public bool IsReady { get; set; }
    public bool IsLoading { get; set; } = true;
    public bool IsFiltering { get; set; } = false;

    private const string AccessTokenKey = "GoogleCalendarApi.AccessToken";
    private const string ActivitiesFilterKey = "Activities.Filter";

    private async Task<ActivitiesFilter> ReadFilterFromLocalStorageAsync()
    {
        var data = await _localStorage.GetItemAsync<ActivitiesFilter.Data>(ActivitiesFilterKey);
        return data != null ? ActivitiesFilter.FromData(data) : ActivitiesFilter.CreateDefault();
    }

    private async Task SaveFilterToLocalStorageAsync(ActivitiesFilter filter)
    {
        var data = filter.ToData();
        await _localStorage.SetItemAsync<ActivitiesFilter.Data>(ActivitiesFilterKey, data);
    }

    private async Task ApplyFilterAsync(ActivitiesFilter filter)
    {
        try
        {
            IsFiltering = true;
            var dateFrom = filter.Period.DateFrom();
            var dateTo = filter.Period.DateTo();
            Activities = (await Space.GetActivitiesAsync(dateFrom, dateTo, filter.IncludeDone, filter.IncludeRecurring)).ToArray();
        }
        catch (Exception e)
        {
            Trace.TraceError(e.ToString());
            _navigationManager.NavigateTo("/google/login");
        }
        finally
        {
            IsFiltering = false;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            IsLoading = true;

            var accessToken = await _localStorage.GetItemAsync<string>(AccessTokenKey);
            if (string.IsNullOrEmpty(accessToken) || accessToken == "null")
            {
                Trace.TraceInformation("Redirecting to Google authentication page");
                _navigationManager.NavigateTo("/google/login");
                return;
            }

            Space = GCalActivitySpace.Create(accessToken);
            _filter = await ReadFilterFromLocalStorageAsync();
            await ApplyFilterAsync(Filter);
            Trace.TraceInformation("Filter is applied");

            IsReady = true;
        }
        catch (Exception e)
        {
            Trace.TraceError(e.ToString());
        }
        finally
        {
            IsLoading = false;
        }
    }
}
